body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
header, footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #232f3e;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header {
    position: fixed;
    top: 0;
    z-index: 1000;
}
footer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
}
.logo {
    font-size: 36px;
    margin: 0;
    color: #ff9900;
}
.subtext {
    font-size: 14px;
    margin: 5px 0 0 0;
    color: #bbb;
}
.footer-text {
    font-size: 12px;
    margin: 0;
    color: #bbb;
}
.footer-link {
    color: #ff9900;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-link:hover {
    color: #fff;
}
.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 120px;  
    padding-bottom: 120px; 

}
.grid {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    gap: 5px;
    border: 1px solid #232f3e5c;
    background:#232f3e00 ;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.grid div {
    width: 60px;
    height: 60px;
    background: #ff9900;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.grid div:active {
    transform: scale(0.9);
}